.content_circle
  width: 10px
  height: 10px
  border-radius: 50%
  background: #f5e103
  display: inline-block
  margin-left: 5px
.item__star_rating
  display: inline-block
  margin-left: 15px
.rating > span {
  content: "\2605";
}
